# Analyse des résultats de la  prédiction

In [1]:
#récupération de l'ap de bigml

from bigml.api import BigML
from pandas import read_csv
from sklearn.metrics import confusion_matrix
import pandas as pan
import matplotlib.pyplot as plt
import random

In [2]:
#récupération des identifiants du projet de bigml

%env BIGML_USERNAME=damienthiberge
%env BIGML_API_KEY=d92377e535638e44239dc49238540477263e1bff

env: BIGML_USERNAME=damienthiberge
env: BIGML_API_KEY=d92377e535638e44239dc49238540477263e1bff

In [3]:
#charge de l'api bigml pour pouvoir faire appel à ces fonctions

api = BigML()

### récupération du fichier train full

In [4]:
#récupération du fichier csv bigml à traiter

train_full = api.create_source('./train_full.csv')

In [5]:
#test des sources

api.ok(train_full)

True

In [6]:
#création dataset depuis le fichier csv importer précédement

train_full_dataset = api.create_dataset(train_full)

### split du fichier train full afin d'entrainer la machine

In [7]:
#split du train full

train_dataset = api.create_dataset(
    train_full_dataset, {"name": "Train (80%)",
                     "sample_rate": 0.8, "seed": "Full train"})
validation_dataset = api.create_dataset(
    train_full_dataset, {"name": "Train (20%)",
                     "sample_rate": 0.8, "seed": "Full train",
                     "out_of_bag": True})

### création du model puis batch prédiction

In [8]:
#creation d'un ensemble à partir de train 

ensemble = api.create_ensemble([train_dataset],{"objective_field":"SeriousDlqin2yrs"})

In [9]:
#batch prédiction

batch_prediction = api.create_batch_prediction(ensemble, validation_dataset, {"all_fields":True, "probabilities":True, 'prediction_name':'Prediction'})

In [10]:
#test prediction

api.ok(batch_prediction)

True

### récupération csv de la prédiction

In [11]:
#telechargement de la prédiction

api.download_batch_prediction(batch_prediction,
    filename='../../handson-ml/predictions_error.csv')

'../../handson-ml/predictions_error.csv'

### mise en forme de la prédiction

In [12]:
error = read_csv('../../handson-ml/predictions_error.csv', index_col=0)
error.to_csv('../../handson-ml/predictions_error.csv', index=False)

# renomme la colonne 1 probability en prédiction
myList = list(error.columns)
myList[1] = 'Prediction'
error.columns = myList

# création de la colonne error
error.insert( 2, 'Error', '')

In [13]:
# fonction de remplissage de la colonne error
def errorPred(row):
    if row['SeriousDlqin2yrs'] == 0 and row['Prediction'] == 0:
        row['Error'] = 'TN'
    if row['SeriousDlqin2yrs'] == 0 and row['Prediction'] == 1:
        row['Error'] = 'FP'
    if row['SeriousDlqin2yrs'] == 1 and row['Prediction'] == 0:
        row['Error'] = 'FN'
    if row['SeriousDlqin2yrs'] == 1 and row['Prediction'] == 1:
        row['Error'] = 'TP'
    return row['Error']

In [14]:
# remplissage de la colonne error
error['Error'] = error.apply(errorPred,axis=1)

In [15]:
error

,Id,RevolvingUtilizationOfUnsecuredLines,age,IsOld,DebtRatio,MonthlyIncome,NumberOfTimes30DaysOrLater,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfDependents,SeriousDlqin2yrs,Prediction,0 probability,1 probability,Error
field1,,,,,,,,,,,,,,,
5,6,0.213179,74,0,0.375607,3500.0,0,3,1,6,0,0,0.99219,0.00781,TN
6,7,0.305682,57,0,5710.000000,NaN,0,8,3,7,0,0,0.97466,0.02534,TN
12,13,0.010352,46,0,0.298354,12454.0,0,13,2,13,0,0,0.98801,0.01200,TN
13,14,0.964673,40,0,0.382965,13700.0,14,9,1,14,1,1,0.39609,0.60391,TP
20,21,0.200923,43,0,0.430046,12300.0,0,10,2,21,0,0,0.98303,0.01697,TN
23,24,0.075427,32,0,0.085512,7916.0,0,6,0,24,0,0,0.98700,0.01300,TN
25,26,0.392248,50,0,1.595253,4676.0,0,14,3,26,1,0,0.91627,0.08373,FN
32,33,0.083418,62,0,977.000000,NaN,0,6,1,33,0,0,0.99492,0.00508,TN
43,44,0.718705,28,0,0.170126,3661.0,0,4,0,44,0,0,0.93850,0.06150,TN
44,45,0.368876,68,0,1687.500000,1.0,0,31,1,45,0,0,0.97787,0.02213,TN
45,46,0.000603,70,0,0.177787,16800.0,0,12,1,46,0,0,0.99524,0.00476,TN
55,56,0.070854,55,0,0.073148,13793.0,0,4,1,56,0,0,0.99260,0.00740,TN
60,61,0.651603,58,0,0.241136,7783.0,0,11,1,61,0,0,0.96688,0.03312,TN
63,64,0.009789,46,0,1.051398,3326.0,0,6,2,64,0,0,0.98365,0.01635,TN
74,75,0.133063,49,0,0.182882,10257.0,1,9,2,75,1,0,0.97600,0.02400,FN
77,78,0.460376,37,0,0.074156,4975.0,0,6,0,78,0,0,0.96870,0.03130,TN
79,80,0.270523,41,0,2.797699,1042.0,0,11,2,80,0,0,0.94747,0.05254,TN
81,82,0.074862,66,0,0.208842,4500.0,0,3,1,82,0,0,0.99460,0.00540,TN
92,93,0.784836,52,0,2662.000000,NaN,2,10,2,93,0,0,0.78461,0.21539,TN
93,94,0.888822,34,0,0.368404,3050.0,0,4,0,94,0,0,0.91011,0.08989,TN
94,95,0.791174,44,0,0.512415,3100.0,0,5,1,95,0,0,0.93708,0.06292,TN
98,99,0.363200,32,0,0.480524,2900.0,0,4,1,99,0,0,0.96534,0.03466,TN
99,100,0.032618,75,0,0.006799,7500.0,0,4,0,100,0,0,0.99663,0.00338,TN
100,101,0.013025,61,0,15.000000,NaN,0,4,0,101,0,0,0.99468,0.00532,TN
103,104,0.888009,44,0,0.299246,4908.0,0,8,0,104,0,0,0.92727,0.07273,TN
104,105,0.003109,57,0,0.258939,8333.0,0,7,1,105,0,0,0.98908,0.01092,TN
106,107,0.018887,80,0,0.003479,10060.0,0,5,0,107,0,0,0.99680,0.00320,TN
109,110,0.041258,61,0,4739.000000,NaN,0,11,4,110,0,0,0.97166,0.02834,TN
112,113,0.186988,52,0,0.023993,3500.0,0,4,0,113,0,0,0.98392,0.01608,TN
114,115,0.180972,39,0,0.384442,3097.0,1,7,1,115,0,0,0.95712,0.04288,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149827,149828,0.824831,47,0,0.353224,9970.0,0,6,2,149828,0,0,0.96876,0.03124,TN
149852,149853,0.104470,73,0,0.055414,5900.0,0,8,0,149853,0,0,0.99613,0.00387,TN
149859,149860,0.174702,62,0,3835.000000,NaN,0,9,3,149860,0,0,0.99281,0.00719,TN
149860,149861,0.063558,47,0,0.492501,5000.0,0,8,2,149861,0,0,0.98384,0.01616,TN
149869,149870,0.652335,50,0,1820.000000,NaN,1,7,1,149870,0,0,0.90268,0.09732,TN
149873,149874,0.045897,53,0,0.083144,2200.0,0,10,0,149874,0,0,0.98852,0.01148,TN
149876,149877,0.312544,33,0,0.563278,4258.0,0,13,2,149877,0,0,0.94986,0.05014,TN
149887,149888,0.400219,42,0,0.363570,6812.0,0,8,1,149888,0,0,0.97220,0.02780,TN
149889,149890,0.057492,32,0,0.082367,2500.0,0,2,0,149890,0,0,0.98981,0.01019,TN
149891,149892,0.960816,26,0,0.191088,3500.0,3,5,0,149892,0,0,0.65597,0.34403,TN
149901,149902,0.000000,94,0,0.000000,3600.0,0,4,0,149902,0,0,0.99698,0.00302,TN
149902,149903,0.000000,80,0,0.000000,1600.0,0,1,0,149903,0,0,0.99571,0.00429,TN
149904,149905,0.002875,50,0,0.277461,13500.0,0,11,3,149905,0,0,0.98820,0.01180,TN
149905,149906,0.003341,81,0,0.000678,5899.0,0,7,0,149906,0,0,0.99468,0.00532,TN
149908,149909,0.426951,80,0,0.149964,4200.0,0,4,0,149909,0,0,0.97982,0.02018,TN
149911,149912,0.728364,66,0,0.625858,3348.0,1,7,1,149912,0,0,0.89851,0.10149,TN
149915,149916,0.208988,76,0,1903.000000,NaN,0,10,2,149916,0,0,0.99311,0.00689,TN
149916,149917,0.253137,50,0,0.503715,9554.0,3,27,2,149917,0,0,0.85339,0.14661,TN
149918,149919,0.015699,77,0,9.000000,NaN,0,2,0,149919,0,0,0.99837,0.00163,TN
149934,149935,0.028891,56,0,0.856572,2000.0,0,8,1,149935,0,0,0.98854,0.01146,TN
149943,149944,0.699618,40,0,0.400547,13885.0,0,18,4,149944,0,0,0.88155,0.11845,TN
149954,149955,1.000000,46,0,170.398010,401.0,6,3,0,149955,1,0,0.61889,0.38111,FN
149956,149957,0.906819,30,0,0.168238,3500.0,2,4,0,149957,0,0,0.67650,0.32350,TN
149959,149960,0.293143,67,0,0.224866,9916.0,0,4,1,149960,0,0,0.99346,0.00654,TN
149966,149967,0.081930,57,0,0.337166,16000.0,0,15,2,149967,0,0,0.98222,0.01778,TN
149969,149970,0.075535,43,0,0.197538,14700.0,0,10,3,149970,0,0,0.96230,0.03770,TN
149974,149975,0.962721,61,0,0.603479,5000.0,2,11,1,149975,0,0,0.68666,0.31334,TN
149983,149984,0.002485,82,0,0.000800,5000.0,0,5,0,149984,0,0,0.99606,0.00394,TN
149993,149994,1.000000,22,0,0.000000,820.0,0,1,0,149994,0,0,0.93856,0.06144,TN
149998,149999,0.000000,30,0,0.000000,5716.0,0,4,0,149999,0,0,0.98748,0.01252,TN

### calcul de la matrice de confusion, accurancy et gain

In [16]:
# affichage de la matrice de confusion
resultat = error['Error'].value_counts()
resultat

TN    27752
FN     1644
TP      345
FP      259
Name: Error, dtype: int64

In [17]:
# calcul de l'accurancy
accuracy = (resultat[0] + resultat[2])/(resultat[0] + resultat[1] + resultat[2] + resultat[3])
accuracy

0.9365666666666667

In [18]:
# calcul de la matrice de gain
matrice_gain = resultat[0]*500 - resultat[1]*500 + resultat[2]*0 - resultat[3]*2500
matrice_gain

12406500

### calcul gain en fonction d'une valeur seuil

# fonction de remplissage de la colonne error en prenant en compte une valeur seuil et retour du gain
def gain_seuil(seuil):
    def seuil_pred(row, seuil):
        if row['1 probability'] > seuil and row['SeriousDlqin2yrs'] == 0:
            row['Error'] = 'FP'
        if row['1 probability'] > seuil and row['SeriousDlqin2yrs'] == 1:
            row['Error'] = 'TP'
        if row['1 probability'] < seuil and row['SeriousDlqin2yrs'] == 0:
            row['Error'] = 'TN'
        if row['1 probability'] < seuil and row['SeriousDlqin2yrs'] == 1:
            row['Error'] = 'FN'
        return row

    for df in [error]:
        df['Error'] = df[['Error', '1 probability', 'SeriousDlqin2yrs']].apply(seuil_pred, axis=1, seuil = seuil)

    count = error['Error'].value_counts()
    gain = 1
    if "TP" not in  error['Error']:
        if "FP" not in  error['Error']:
            gain = count[0]*500 - count[1]*2500
        else:
            gain = count[0]*500 - count[1]*2500 - count[2]*500
    else:
        gain = count[0]*500 - count[1]*2500 - count[3]*500
        
    return gain

# affichage de la courbe de gzin en fonction de la valeur seuil
table = [gain_seuil(n/100) for n in range(1,100)]
seuil = [(n/100) for n in range(1,100)]
plt.plot(seuil, table)
plt.show()

# calcul de la valeur max du gain et obtention du seuil optimal
max_val = max(table)
max_seuil = table.index(max_val)/100

print(f"le gain maximal est de {max_val} et il est obtenu en {max_seuil}")

In [19]:
# compter les valeurs dans la colonne error
from collections import Counter

c = Counter(error['SeriousDlqin2yrs'])
c_pred = Counter(error['Error'])
c_pred

Counter({'TN': 27752, 'TP': 345, 'FN': 1644, 'FP': 259})

### calcul de l'AUC (area under the courbe)

In [20]:
pos = error.loc[error['SeriousDlqin2yrs'] == 1] # Tous les Positif  
neg = error.loc[error['SeriousDlqin2yrs'] == 0] # Tous les negatifs  
x = 0 
y = 0 # pour chaque 1 proba ( P ) dans toutes les 1 proba (P)
for threshold_pos in pos['1 probability']: # pour chaque 1 Proba ( N ) dans toutes les 1 proba ( N )     
    for threshold_neg in neg['1 probability']:         
        if threshold_pos > threshold_neg:             
            x += 1          
        y += 1 
print(x/y)

0.8573326585284072